---
import Title from "../components/ui/Title.astro";
import Text from "../components/ui/Text.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import DownloadCV from "../components/DownloadCV.astro";
---

<BaseLayout pageTitle="About me">
  <Title>About me</Title>

  <DownloadCV />

  <Text>Page under construction...</Text>
</BaseLayout>
