---
import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Hello, world!</h1>
	<Social platform="github" username="vhugobarnes" />
</BaseLayout>
