---
import Text from "../components/ui/Text.astro";
import Title from "../components/ui/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="My projects">
  <Title>Projects</Title>
  <Text>Page under construction...</Text>
</BaseLayout>
