---
import Download from "../components/icons/Download.astro";
---

<a
  href="https://drive.google.com/file/d/17SodaP0wrzC51modhxBaH0jfc_33eKqq/view?usp=sharing"
  target="_blank"
  class="inline-flex items-center bg-neutral-200 hover:bg-neutral-300 transition-colors duration-200 text-neutral-900 rounded-full py-1 px-4"
>
  <Download color="#171717" />
  <p class="">Download my CV</p>
</a>
