---
const year = new Date().getFullYear();
---

<footer
  class="flex flex-col space-y-4 border border-white px-4 py-10 mx-4 lg:mx-32"
>
  <div class="flex justify-center items-center space-x-4">
    <a href="https://github.com/VHugoBarnes" target="_blank">
      <img
        src="/github.svg"
        width="40"
        height="40"
        alt="github"
        class="w-10 h-10 hover:opacity-80 transition-opacity duration-200"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/v%C3%ADctor-hugo-v%C3%A1zquez-g%C3%B3mez-5882a1171/"
      target="_blank"
    >
      <img
        src="/linkedin.svg"
        width="40"
        height="40"
        alt="linkedin"
        class="w-10 h-10 hover:opacity-80 transition-opacity duration-200"
      />
    </a>
  </div>
  <p class="text-center font-thin text-sm">
    {year} - victorvazquez.dev
  </p>
</footer>
