---
import Navigation from "./Navigation.astro";
---

<header
  class="flex flex-col lg:flex-row items-center justify-between space-y-4 lg:space-y-0"
>
  <h1 class="text-4xl font-bold tracking-wider font-mono text-center">
    <a href="/">Victor Vazquez</a>
  </h1>
  <Navigation />
</header>
