---
import Header from "../components/Header.astro";
const props = Astro.props;

let pageTitle = "victorvazquez.dev";

if (props.pageTitle) {
  pageTitle = `${props.pageTitle} | victorvazquez.dev`;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-black text-white">
    <Header />
    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
