---
interface Props {
  size?: "text-xl" | "text-lg" | "text-2xl" | "text-3xl";
  className?: string;
}

const { size = "text-lg", className = "" } = Astro.props;
---

<p class={`tracking-wide ${size} ${className}`}>
  <slot />
</p>
